@model e_Mekteb.ViewModel.UcenikoveBiljeskeUcenikView

@{
    ViewData["Title"] = "Index";
}

<h1>Bilješke</h1>



<div class="mb-5">
    <table class="table table-responsive-sm">
        @if (Model.UcenikoveBiljeske.Any())
        {
            @foreach (var predmet in Model.UcenikoveAktivnosti)

            {
                <thead class="table-success">
                    <tr >
                        <th>
                            @predmet.Naziv
                        </th>

                        <th></th>

                    </tr>
                </thead>
                @foreach (var item in Model.UcenikoveBiljeske)
                {






                             <tbody class="table table-bordered">
                                      @if (item.AktivnostId==predmet.AktivnostId)
                                 { 
                                             <tr>
                                                         <td style="width:30%">


                                                             @Html.DisplayFor(modelItem => item.Datum)


                                                         </td>
                                                         <td style="width:70%">


                                                             @Html.DisplayFor(modelItem => item.Biljeske)


                                                         </td>
                                                         





                                             </tr>
                                        }
            



                                


                             </tbody>



                }



            }
        }

        else
        {
            <tr>Trenutno nemate bilješki.</tr>
        }

    </table>
</div>
