@using Microsoft.AspNetCore.Identity;

@inject SignInManager<AplicationUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - e_Mekteb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/57fdd6040f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">e-Mekteb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (signInManager.IsSignedIn(User) || User.IsInRole("Admin") || User.IsInRole("Vjeroucitelj") || User.IsInRole("Ucenik"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Meni
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (User.IsInRole("Admin"))
                                    {

                                        <!-- Split dropright button -->
                                        <div class="btn-group dropright">
                                            <button type="button" class="btn btn-secondary">
                                                Pravo Pristupa
                                            </button>
                                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropright</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="CreateRole">Dodaj Rolu</a>
                                                <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ListRole">Uredi Rolu</a>
                                                <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ListUsers">Lista Korisnika</a>
                                            </div>

                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Aktivnost" asp-action="Index">Aktivnosti</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Adresa" asp-action="Index">Adresa</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Medzlis" asp-action="Index">Medžlisi</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Razred" asp-action="Index">Razredi</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="SkolskaGodina" asp-action="Index">Godine</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="ClanMualimskogVijeca" asp-action="Index">Članovi Mualimskog Vijeća</a>


                                    }
                                    @if (User.IsInRole("Vjeroucitelj"))

                                    {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Biljeska" asp-action="Index">Bilješke</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Prisutnost" asp-action="Index">Prisutnost</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Vjeroucitelj" asp-action="ListUsers">Lista Učenika</a>



                                    }

                                    @if (User.IsInRole("Ucenik"))
                                    {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Ucenik" asp-action="Details">Moj Račun</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Ucenik" asp-action="MojeBiljeske">Bilješke</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Ucenik" asp-action="MojePrisutnosti">Prisutnosti</a>
                                    }



                                </div>   
                                   

                            </li>














                        }






                       



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - e_Mekteb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    

    @RenderSection("Scripts", required: false)
</body>
</html>
