@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="mx-auto" style="width: 200px;" >
        <a asp-action="Edit" asp-route-id="@Model"><i class="far fa-edit"></i></a> 
        <a asp-action="Details" asp-route-id="@Model"><i class="fas fa-info-circle"></i></a> 
        <a asp-action="Delete" asp-route-id="@Model"><i class="far fa-trash-alt"></i></a>
       
    </div>
