@model IEnumerable<AplicationUser>

@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje</h1>

<h3>Dali ste sigurni da zelite obrisati?</h3>
<div>
    <h4>Učenika</h4>
   
    
        @if (Model.Any())
        {
            @foreach (var user in Model)
            {
                <div class="card">
                    <div class="card-header">
                        User Id:@user.Id
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            @user.UserName;
                        </h5>

                        <div class="card-footer">
                            <form asp-action="DeleteUserConfirmed" asp-route-id="@user.Id" method="post">
                                <a asp-controller="Vjeroucitelj" asp-action="ListUsers" class="btn btn-primary">Ne</a>
                                <button type="submit" class="btn btn-danger">Da</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    








</div>
