
@model e_Mekteb.ViewModel.SkoleLista
@{
    var userId = ViewBag.userId;

}

@using (Html.BeginForm())
{
<div class="card">
    <div class="card-header">
        <h2>Dodaj ili Ukloni Školu</h2>
    </div>
    <div class="card-body">
        @if (Model.Skole.Any())
        {
            @foreach (var skola in Model.Skole)
            {
                @Html.RadioButtonFor(m => m.IsSelected, skola.SkolaId,null)
                @Html.Label(skola.NazivSkole)
                <br />

            }

        }
        else
        {
            <h5>
                Trenutacno ne možete dodati skolu učeniku zbog mogućih razloga:<br />
            </h5>
            <p>
                -Niste kreirali svoje škole<br />
                -Učenik već pohađa vjeronauk  u školi.
            </p>
        }
    </div>

    <div class="card-footer">
        <a asp-controller="Vjeroucitelj" asp-action="EditUser" asp-route-id="@userId" class="btn btn-primary">Nazad</a>
        <button type="submit" class="btn btn-primary" asp-route-id="@userId">Ažuriraj</button>

    </div>
</div>

}

