@model e_Mekteb.Models.Administration.EditUser;
@{ 
    ViewBag.Title = "Edit User";
}
<h1>Uredi Učenika</h1>

<form method="post" class="mt-1 mb-5">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2">Korisnik Id:</label>

        <input asp-for="Id" disabled class="form-group col-sm-5">


    </div>
    <div class="form-group row">
        <label asp-for="UserName" class="col-sm-2">Korisničko ime:</label>

        <input asp-for="UserName" class="form-group col-sm-5">


        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2">Email:</label>

        <input asp-for="Email" class="form-group col-sm-5">


        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">

            <a asp-controller="Vjeroucitelj" asp-action="ListUsers" class="btn btn-primary"><<</a>
            <button type="submit" class="btn btn-primary">Ažuriraj</button>

        </div>

    </div>
    <div class="card">
        <div class="card-header">
            Korisnička rola
        </div>
        <div class="card-body">
            @if (Model.Roles.Any())
            {
                foreach (var role in Model.Roles)
                {


                    <h5 class="card-title">
                        @if (role == "Ucenik")
                        {
                            @role

                        }
                    </h5>
                }
            }
            else
            {
                <h5 class="card-title">
                    Učeniku trenutno nije dodijeljena rola.
                </h5>
            }


        </div>
        <div class="card-footer">
            <a asp-controller="Vjeroucitelj" asp-action="ManageUserRoles" asp-route-userId="@Model.Id" class="btn btn-primary">Postavke Role</a>


        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            Predmeti Učenika
        </div>
        <div class="card-body">

            @if (Model.PredmetiUcenika.Any())
            {
                foreach (var predmet in Model.PredmetiUcenika)
                {


                    <h5 class="card-title">

                        @predmet


                    </h5>
                }
            }
            else
            {
                <h5 class="card-title">
                    Učeniku trenutno nije dodijeljen nijedan predmet.
                </h5>
            }

        </div>
        <div class="card-footer">
            <a asp-controller="Vjeroucitelj" asp-action="DodajPredmetUceniku" asp-route-userId="@Model.Id" class="btn btn-primary">Dodaj Predmet</a>
        </div>
        <div class="card">
            <div class="card-header">
                Škola Učenika
            </div>
            <div class="card-body">

                @if (Model.Skole.Any())
                {
                    foreach (var skola in Model.Skole)
                    {


                        <h5 class="card-title">

                            @skola


                        </h5>
                    }
                }
                else
                {
                    <h5 class="card-title">
                        Učeniku trenutno nije dodijeljena škola ili ne pohađa vjeronauk u školi.
                    </h5>
                }

            </div>
            <div class="card-footer">
                <a asp-controller="Vjeroucitelj" asp-action="DodajSkoluUceniku" asp-route-userId="@Model.Id" class="btn btn-primary">Dodaj Školu</a>
            </div>





      </div>  </div>
</form>