@model e_Mekteb.ViewModel.PrisutnostiUcenik

@{
    ViewData["Title"] = "Index";
}

<h1>Prisutnosti</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novu</a>
</p>

<div class="table-responsive-sm ">
    <table class="table table-hover table-borderless">
        <thead class="table-success">

        </thead>
        @foreach (var ucenik in Model.Ucenici)

        {
            <tr>
                <th>
                    @ucenik.UserName
                </th>



            </tr>
            @foreach (var item in Model.Prisutnosti)
            {


                @if (ucenik.AplicationUserId == item.AplicationUserId)
                {

                    <tbody>



                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Datum)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.IsPrisutan)
                            </td>

                            <td>
                                @await Html.PartialAsync("TableButtonPartial", item.PrisutnostId)
                            </td>

                        </tr>


                    </tbody>
                }


            }



        }


    </table>
</div>
