@model e_Mekteb.ViewModel.PrisutnostiUcenik

@{
    ViewData["Title"] = "Index";
}

<h1>Prisutnosti</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novu</a>
</p>

<div class="table-responsive-sm mb-5">
    <table class="table table-hover table-borderless">
        <thead class="table-success">

        </thead>
        @if (Model.Ucenici.Any())
        {
            @foreach (var ucenik in Model.Ucenici)

            {
                <tr>
                    <th>
                        @ucenik.UserName
                    </th>



                </tr>
                @foreach (var item in Model.Prisutnosti)
                {


                    @if (ucenik.AplicationUserId == item.AplicationUserId)
                    {

                        <tbody>



                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Datum)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IsPrisutan)
                                </td>

                                <td >
                                    @await Html.PartialAsync("TableButtonPartial", item.PrisutnostId)
                                </td>

                            </tr>


                        </tbody>
                    }


                }



            }

        }

            else
            {
            <tfoot>
                <tr>
                    <td class="font-italic font-weight-bold">
                        Trenutno nemate unesene prisutnosti za nijednog učenika!
                    </td>    
                </tr>      
            </tfoot>
            }

    </table>
</div>
