@model e_Mekteb.ViewModel.Notification

@{
    ViewData["Title"] = "Index";
}

<h1>Obavijesti</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novu</a>
</p>
<div class="mb-5">
    <table class="table table-responsive-sm">
        @if (Model.obavijesti.Any())
        {
            @foreach (var item in Model.obavijesti)
            {
                <thead class="table-primary">
                    <tr>
                        <th>
                            Datum
                        </th>
                        <th>
                            Naslov
                        </th>
                        <th>
                            Obavijest
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="table table-bordered">

                    <tr class="table">
                        <td style="width:20%">
                            @Html.DisplayFor(modelItem => item.Datum)
                        </td>
                        <td style="width:20%">

                            @Html.DisplayFor(modelItem => item.Naslov)
                        </td>
                        <td style="width:20%">
                            @Html.DisplayFor(modelItem => item.Sadrzaj)
                        </td>
                        <td style="width:40%" align="right">
                            @await Html.PartialAsync("TableButtonPartial", item.ObavijestId)

                        </td>
                    </tr>

                </tbody>

            }

        }
        else
        {
            
            
                <tfoot>
                    <tr>
                        <td class="font-italic font-weight-bold">
                            Trenutno niste unijeli nijednu obavijest!
                        </td>
                    </tr>
                </tfoot>
            
        }




    </table>
</div class="table-responsive-sm ">
