@model e_Mekteb.ViewModel.Obavijesti

@{
    ViewData["Title"] = "Index";
}

<h1>Obavijesti</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novu</a>
</p>
<div class="table-responsive-sm ">
    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th>
                    Nalov
                </th>
                <th>
                    Sadržaj
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.obavijesti)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naslov)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sadrzaj)
                    </td>
                    <td>
                        @await Html.PartialAsync("TableButtonPartial", item.ObavijestId)

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div class="table-responsive-sm ">
