@model e_Mekteb.ViewModel.FilterViewModel

@{
    ViewData["Title"] = "Filter";
    var list = ViewBag.Vjeroucitelji;
}


    <div class="container-fluid">


        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <form asp-controller="Muftija" asp-action="PadajuciIzbornikVjeroucitelj" class="dropdown-menu-sm-left p-4">
                    <div class="form-group">
                        @*<select asp-for="MedzlisId" class="form-control" asp-items="ViewBag.Medzlisi"></select><br/>
                        <input type="submit" value="Spremi" class="btn btn-primary" />*@
                        <div class="col-sm-6">
                            @Html.ListBoxFor(model => model.MedzlisId,new MultiSelectList(Model.ListaMedzlisa, "MedzlisId", "MedzlisId"),
                           new { @class = "form-control", multiple = "multiple", id = "Subjects_dropdown" })
                        </div>

                    </div>

                </form>
                <div class="col-md-4">
                    <form asp-controller="Muftija" asp-action="PadajuciIzbornikSkole" class="dropdown-menu-sm-left p-4">
                        <div class="form-group">
                            <select asp-for="VjerouciteljId" class="form-control" asp-items="ViewBag.Vjeroucitelji"></select><br />
                            <input type="submit" value="Spremi" class="btn btn-primary" />

                        </div>
                    </form>
                </div>
                <div col-md-4>

                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <form asp-controller="Muftija" asp-action="PadajuciIzbornikRazred" class="dropdown-menu-sm-left p-4">
                        <div class="form-group">
                            <select asp-for="SkolaId" class="form-control" asp-items="ViewBag.Skole"></select><br />
                            <input type="submit" value="Spremi" class="btn btn-primary" />

                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <form asp-controller="Muftija" asp-action="PadajuciIzbornikGodina" class="dropdown-menu-sm-left p-4">
                        <div class="form-group">
                            <select asp-for="RazredId" class="form-control" asp-items="ViewBag.Razredi"></select><br />
                            <input type="submit" value="Spremi" class="btn btn-primary" />

                        </div>
                    </form>
                </div>
                <div col-md-4>

                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <form asp-controller="Muftija" asp-action="FiltriraniUcenici" class="dropdown-menu-sm-left p-4">
                        <div class="form-group">
                            <select asp-for="GodinaId" class="form-control" asp-items="ViewBag.SkolskeGodine"></select><br />
                            <input type="submit" value="Pretraži" class="btn btn-primary" />

                        </div>
                    </form>
                </div>
                <div class="co-sm-6">

                </div>
            </div>
        </div>












        



        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
           
            <script>

                $(document).ready(function () {
                    $('#Subjects_dropdown').multiselect();
                });
            </script>
        }
