@model e_Mekteb.Models.SkolskaGodina

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Školske Godine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Godina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Godina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary"><<</a>
    <a asp-action="Edit" asp-route-id="@Model.SkolskaGodinaId" class="btn btn-primary">Edit</a>
</div>
