@model e_Mekteb.Models.SkolskaGodina

@{
    ViewData["Title"] = "Edit";
}

<h1>Uredi</h1>

<h4>Školsku Godinu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SkolskaGodinaId" />
            <div class="form-group">
                <label asp-for="Godina" class="control-label"></label>
                <input asp-for="Godina" class="form-control" />
                <span asp-validation-for="Godina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary"><<</a>
                <input type="submit" value="Ažuriraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
