@model IEnumerable<e_Mekteb.Models.SkolskaGodina>

@{
    ViewData["Title"] = "Index";
}

<h1>Školske Godine</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Godina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Godina)
            </td>
            <td>
                @await Html.PartialAsync("TableButtonPartial", item.SkolskaGodinaId)

            </td>
        </tr>
}
    </tbody>
</table>
