@model IEnumerable<e_Mekteb.Models.SkolskaGodina>

@{
    ViewData["Title"] = "Index";
}

<h1>Školske Godine</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novu</a>
</p>
<table class="table table-responsive-sm">
    <thead class="table table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Godina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table table-bordered">
@foreach (var item in Model) {
        <tr class="table">
            <td style="width:75%">
                @Html.DisplayFor(modelItem => item.Godina)
            </td>
            <td style="width:25%" align="right">
                @await Html.PartialAsync("TableButtonPartial", item.SkolskaGodinaId)

            </td>
        </tr>
}
    </tbody>
</table>
