
@using Microsoft.AspNetCore.Identity;



@{
    ViewData["Title"] = "Home Page";

}
@inject SignInManager<AplicationUser>  signInManager


<div class="text-center">
    <h1 class="display-4">e-Mekteb</h1>
</div>









