@model e_Mekteb.Models.Razred

@{
    ViewData["Title"] = "Edit";
}

<h1>Uredi</h1>

<h4>Razred</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RazredId" />
            <div class="form-group">
                <label asp-for="SkolskaGodinaId" class="control-label"></label>
                <select asp-for="SkolskaGodinaId" class="form-control" asp-items="ViewBag.SkolskaGodinaId"></select>
                <span asp-validation-for="SkolskaGodinaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medzlis.Naziv" class="control-label"></label>
                <select asp-for="MedzlisId" class="form-control" asp-items="ViewBag.MedzlisId"></select>
                <span asp-validation-for="MedzlisId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary"><<</a>
                <input type="submit" value="Ažuriraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
