@model IEnumerable<e_Mekteb.Models.Razred>

@{
    ViewData["Title"] = "Index";
}

<h1>Razredi</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novi</a>
</p>
<table class="table table-responsive-sm mb-5">
    <thead class="table table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table table-bordered">
@foreach (var item in Model) {
        <tr class="table">
            <td style="width:75%">
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            
            <td style="width:25%" align="right">
                @await Html.PartialAsync("TableButtonPartial", item.RazredId)
            </td>
            
        </tr>
}
    </tbody>
</table>
