@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="text-sm-center">
    <h1 class="text-success">ESSELAMU ALEJKUM</h1><br />
    <h3>Dobrodošli u E-Mekteb platformu.</h3><br />
    <h5>Vaš korisnički račun je aktiviran. Možete se prijaviti sa svojim korisničkim podacima.</h5>

</div>

