@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
Molimo da provjerite svoj email kako bi resetirali svoju lozinku.
</p>

