@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center text-secondary text-decoration-underline">e-Mekteb</h1>
    <h1 class="text-center text-secondary">za učenike i vjeroučitelje</h1>

<div class="row justify-content-center mt-5" >
    <div class="col-md-4 border border-3 border rounded shadow-lg p-3 mb-5 bg-body rounded" >
        <section >

            <form id="account" method="post" class="">
                @*<h4>Koristi lokalni račun za prijavu</h4>*@
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-outline-danger ">Prijavi se</button>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            Zapamti moju prijavu?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="link-dark">Zaboravili ste lozinku?</a>
                    </p>
                    <p>
                        @*<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registriraj se kao novi korisnik</a>*@
                    </p>
                </div>
            </form>
        </section>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
