@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>Uspješno resetiranje lozinke</h1>
<p>
    Vaša lozinka je uspješno resetirana. Molimo  <a asp-page="./Login">klikni tu da se prijaviš.</a>.
</p>
