@using Microsoft.AspNetCore.Identity;

@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>

    @foreach (var role in Model)
    {
        <div class="card">
            <div class="card-header">
                Role Id:@role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @role.Name;
                </h5>

                <div class="card-footer">
                    <form asp-action="DeleteRoleConfirmed" asp-route-id="@role.Id" method="post">
                        <a asp-controller="Administration" asp-action="ListRole" class="btn btn-primary">No</a>
                        <button type="submit" class="btn btn-danger">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    }






</div>