@model e_Mekteb.Models.Skola

@{
    ViewData["Title"] = "Create";
}

<h1>Kreiraj Novu</h1>

<h4>Školu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MedzlisId" class="control-label"></label><br />
                <select asp-for="MedzlisId" asp-items="ViewBag.MedzlisId" class="form-control"></select>

            </div>
            <div class="form-group">
                <label asp-for="NazivSkole" class="control-label"></label>
                <input asp-for="NazivSkole" class="form-control" />
                <span asp-validation-for="NazivSkole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grad" class="control-label"></label>
                <input asp-for="Grad" class="form-control" />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostanskiBroj" class="control-label"></label>
                <input asp-for="PostanskiBroj" class="form-control" />
                <span asp-validation-for="PostanskiBroj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Back </a>
                <button type="submit" class="btn btn-primary">Spremi</button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
