@model IEnumerable<e_Mekteb.Models.Skola>

@{
    ViewData["Title"] = "Index";
}

<h1>Moje Škole</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novu</a>
</p>
<div class="table mb-5">
    <table class="table table-responsive-sm">
        <thead class="table table-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NazivSkole)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody class="table table-bordered">
            @foreach (var item in Model)
            {
                <tr class="table">
                    <td style="width:70%">
                        @Html.DisplayFor(modelItem => item.NazivSkole)
                    </td>

                    <td style="width:30%" align="right">
                        @await Html.PartialAsync("TableButtonPartial", item.SkolaId)

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

