@model IEnumerable<e_Mekteb.Models.Skola>

@{
    ViewData["Title"] = "Index";
}

<h1>Moje Škole</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Novu</a>
</p>
<table class="table mb-5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazivSkole)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivSkole)
            </td>
           
            <td>
                @await Html.PartialAsync("TableButtonPartial", item.SkolaId)

            </td>
        </tr>
}
    </tbody>
</table>
