@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Osobni podaci</h4>

<div class="row">
    <div class="col-md-6">
        <p>Vaš račun sadrži osobne podatke koje ste nam dali. Ova stranica Vam omogućava da preuzmete svoje podatke.</p>
        <p>
            <strong>Brisanjem ovih podataka trajno ćete izbrisati svoj račun, i nakon toga se neće moći oporaviti.
            Brisanje podataka dozvoljeno je korisnicima sa admin pravima.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Preuzmi</button>
        </form>
        
        
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Trajno Brisanje</a>

        </p>
        

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}