@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>Dvostruka autentifikacija (2FA)</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Nemaš više kodova za oporavak.</strong>
            <p>Moraš generirati<a asp-page="./GenerateRecoveryCodes">novi set kodova za oporavak</a> prije nego se ulogiraš sa kodom za oporavak.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Imate još jedan kod za oporavak.</strong>
            <p>Možeš <a asp-page="./GenerateRecoveryCodes">generirati novi set kodova za oporavak</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Imate @Model.RecoveryCodesLeft kodova za oporavak.</strong>
            <p>Trebali bi<a asp-page="./GenerateRecoveryCodes">generirati novi set kodova za oporaak</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Zaboravi ovaj preglednik</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">Onemogući 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Resetiraj kodove za oporavak</a>
}

<h5>Authenticator aplikacija</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Dodaj authenticator aplikaciju</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Postavi authenticator aplikaciju</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Resetiraj authenticator aplikaciju</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}