.teacher_list {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 40px;    
    gap: 4px;

    :nth-child(1) {
        margin-left: 5px;
        background-image: url('../../images/sort-up.png')
    }

    :nth-child(2) {
        
        background-image: url('../../images/sort-down.png')
    }

    button {
        width: 30px;
        height: 30px;        
        background-position-x: center;
        background-position-y: center;
        border: hidden;
        &:hover{
            border: 1px solid lightblue;
        }
    }
}
